body {
  background-color: #f0f0f0;
}

.login {
  max-width: 400px;
  margin: 6rem auto 0;
}

.login img {
  width: 200px;
}

.fake-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.fake-navigation li {
  margin-right: 10px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}

.fake-navigation li a {
  color: #333;
}

.header {
  background-color: #fff;
}

.header__right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  background-color: #f0f0f0;
  min-height: calc(100vh - 258px);
}

.footer {
  background-color: #4a61ab;
  color: #fff;
}

.login-link,
.login-link:hover {
  color: #fff;
  text-decoration: none;
}

.content-full__image {
  height: 500px;
}

.content-full__image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.logged-in-user {
  margin: 0 0 0 7.5rem;
}

@media screen and (max-width: 1280px) {
  .header,
  .header__right-side > div,
  .logged-in-user {
    display: block !important;
  }

  .logged-in-user {
    margin: 0 0 1rem 0 !important;
  }
}

@media screen and (max-width: 1280px) {
  .fake-navigation {
    display: none;
  }

  .header img,
  .login img {
    width: 100%;
  }
}
